﻿@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto';

html {
    height: 100%;
}

body {
    font-family: 'Roboto', serif;
}

.bordered {
    border: solid 1px blueviolet;
}

.bordered-2 {
    border: solid 2px #4cff00;
}

#homepage .jumbotron {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 375px;
    margin: 0 auto;
    z-index: -9999;
    /*background: url("/Content/img/bg.png");*/
    background: #fff;
}

    #homepage .jumbotron h1 {
        font-family: 'Roboto Slab', cursive;
    }

    #homepage .jumbotron .container {
        margin-right: auto;
        margin-left: auto;
    }

    #homepage .jumbotron .message {
        position: relative;
        margin: 10px auto 0;
        text-align: center;
        padding: 0 10%;
    }

#navbar-main {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    /*    -webkit-box-shadow: 0 1px 5px -1px #333;
    -moz-box-shadow: 0 1px 5px -1px #333;
    box-shadow: 0 1px 5px -1px #333;*/
    clear: both;
}

#homepage #navbar-main {
    position: relative;
    z-index: 2 !important;
    top: 374px;
}

@media (max-width: 978px) {
    #homepage #navbar-main {
        top: 400px;
    }
}

@media (max-width: 768px) {
    #homepage #navbar-main {
        top: 0;
        position: absolute;
    }
}

#navbar-main .navbar-brand {
    font-family: 'Roboto Slab', cursive;
    font-weight: normal;
    font-size: 24px;
}

.logoff {
    text-align: center !important;
    padding: 0 1em;
}

#content {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    flex: 1 0 auto;
    padding-top: 5em;
    padding-bottom: 50px;
}

#homepage #content {
    margin: 374px auto 0;
}

#footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    width: 100%;
    min-height: 5em;
}

    #footer a {
        color: #fff;
    }

        #footer a:hover, #footer a:active {
            background: none;
        }

    #footer .navbar-links {
        padding: 0 5px;
    }

    #footer .nav, #footer .nav > li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* inline-block space fix */
    margin-right: -4px;
}

.clickable-rows tr {
    cursor: pointer;
}

.date-input[disabled], .date-input[readonly] {
    color: #34495e;
    background-color: #fff;
    border-color: #bdc3c7;
    opacity: 1;
}

.hour-input[disabled], .hour-input[readonly] {
    color: #34495e;
    background-color: #fff;
    border-color: #bdc3c7;
    opacity: 1;
}

.facebook:hover {
    color: #3b5998 !important;
    /*color: #fff !important;*/
}

.twitter:hover {
    color: #1da1f2 !important;
    /*color: #fff !important;*/
}

h1 small {
    color: #7f8c8d;
}

.main-list-group > li {
    border: none;
    border-bottom: 5px solid #ddd;
}

.main-list-group .list-group-item li {
    border: none;
}

.col-centered .form-group {
    text-align: left;
}

    .col-centered .form-group label {
        font-weight: bold;
    }

i.fa-info-circle {
    color: #3498db;
    cursor: pointer;
}

.underlined-header {
    border-bottom: 2px solid #ccc;
}

#modal-body.loading #modal-spinner {
    display: normal;
}

#modal-body:not(.loading) #modal-spinner {
    display: none;
}

.page-content {
    min-height: 75%;
    margin-top: 2em;
}

/* Login panel */
.panel-login {
    margin-top: 5em;
}

/* Search form */
.form-inline > div {
    margin-left: .5em !important;
    margin-right: .5em !important;
}

.clickable-panel .panel {
    color: black;
    transition: box-shadow ease-in-out .21s;
}

.clickable-panel .panel:hover {
    color: black;
    box-shadow: 0px 0px 6px 0px rgba(173, 173, 173, 0.75);
}
